body {
	background: #f6f5f7;
	font-family: 'Montserrat', sans-serif;
	
}

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333 ;
	font-size: 14px;
	text-decoration: none;
	
}

button {
	border-radius: 20px;
	border: 1px solid #37517e;
	background-color: #37517e;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
	border-width: 1.5px;
}

form {
	background-color: #FFFFFF;
	padding: 0 50px;
	height: 100%;
	
}

input {
	background-color: #eee;
	border-color: gray ;
	border-width: 1px ;
	border-radius: 5px;
	padding: 12px 15px;
	margin: 5px;
	width: 70%;
}
select {
	background-color: #eee;
	border-color: gray ;
	border-width: 1px ;
	border-radius: 5px;
	padding: 12px 15px;
	margin: 5px ;
	width: 70%;
}
table{
	width: 100%;
}
th{

	border: 1px solid #37517e;
	background-color: #37517e;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}
td{
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px ; 
	padding: 10px ;
}
#create{
	flex-direction: column ;
	display : none ;
	align-items: left;
	justify-content: left;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	margin: 20px;
	color: #5E5E5E;
	padding: 10px;
	font-size: 20px;
	font-weight: 700;

}

#profile{
	flex-direction: column ;
	display : none ;
	align-items: left;
	justify-content: left;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	margin: 20px;
	color: #5E5E5E;
	padding: 10px;
	font-size: 20px;
	font-weight: 700;

}

#edit{
	flex-direction: column ;
	display : none ;
	align-items: left;
	justify-content: left;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	margin: 20px;
	color: #5E5E5E;
	padding: 10px;
	font-size: 20px;
	font-weight: 700;

}
#join{
	display: none;
	width: 100%;
	flex-direction: column;
}
#MyCampaigns{
	display: none;
	width: 100%;
	flex-direction: column;
}
#join1{
	flex-direction: column ;
	display : flex ;
	align-items: left;
	justify-content: left;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	margin: 20px;
	color: #5E5E5E;
	padding: 10px;
	font-size: 20px;
	font-weight: 700;

}
#subjoin{
	display: flex;
	flex-direction: row;
	align-items: center ;
	justify-content: left;
	padding: 5px;
}
.place1{
	width: 250px;
	padding: 10px;
}
.place2{
	flex-grow: 3;
	padding: 10px;
	color: #47b2e4;
}
.inp{
	
}
#googleMap{
	background-color: #eee;
	border-color: gray ;
	border-width: 1px ;
	border-radius: 5px;
	text-align: center;
	padding: 12px 15px;
	margin: 8px 0;
	width: 70%;
	height: 500px;
}
#googleMap1{
	background-color: #eee;
	border-color: gray ;
	border-width: 1px ;
	border-radius: 5px;
	text-align: center;
	padding: 12px 15px;
	margin: 8px 0;
	width: 70%;
	height: 500px;
}

.search{
	margin: 10px;
	transform: scale(1.3);
	color: #47b2e4;
}
.campaign{
	display: flex;
	flex-direction: row ;
	align-items: center ;
	justify-content: center;
	font-size: 18px;
}
.subcamp{
	display: flex;
	flex-direction: column ;
	align-items: left ;
	justify-content: left;
	margin: 10px;
}
.subsubcamp{
	display: flex ;
	flex-direction: row ;
	align-items: left ;
	justify-content: left;
	margin: 10px;
}
.ite{
	margin: 10px;
	width: 200px;
}
.ite11{
	margin: 10px;
	align-self: right;
	width: 50%;
}
.table1{


}
@media only screen and (max-width: 1000px) {

	.d-none{
	  display: none;
	}
	body {
	  margin: 0;
	  font-family: Arial, Helvetica, sans-serif;
	}
	
	body {
	  background: #f6f5f7;
	  font-family: 'Montserrat', sans-serif;
	  
	}
	
	h1 {
	  font-weight: bold;
	  margin: 0;
	}
	
	h2 {
	  text-align: center;
	}
	
	p {
	  font-size: 14px;
	  font-weight: 100;
	  line-height: 20px;
	  letter-spacing: 0.5px;
	  margin: 20px 0 30px;
	}
	
	span {
	  font-size: 12px;
	}
	
	a {
	  color: #333 ;
	  font-size: 14px;
	  text-decoration: none;
	  
	}
	
	button {
	  border-radius: 20px;
	  border: 1px solid #37517e;
	  background-color: #37517e;
	  color: #FFFFFF;
	  font-size: 12px;
	  font-weight: bold;
	  padding: 12px 45px;
	  letter-spacing: 1px;
	  text-transform: uppercase;
	  transition: transform 80ms ease-in;
	}
	
	button:active {
	  transform: scale(0.95);
	}
	
	button:focus {
	  outline: none;
	}
	
	button.ghost {
	  background-color: transparent;
	  border-color: #FFFFFF;
	  border-width: 1.5px;
	}
	
	form {
	  background-color: #FFFFFF;
	  padding: 0 50px;
	  height: 100%;
	  
	}
	
	input {
	  background-color: #eee;
	  border-color: gray ;
	  border-width: 1px ;
	  border-radius: 5px;
	  padding: 12px 15px;
	  margin: 5px;
	  width: 70%;
	}
	select {
	  background-color: #eee;
	  border-color: gray ;
	  border-width: 1px ;
	  border-radius: 5px;
	  padding: 12px 15px;
	  margin: 5px ;
	  width: 70%;
	}
	table{
	  width: 100%;
	}
	th{
	
	  border: 1px solid #37517e;
	  background-color: #37517e;
	  color: #FFFFFF;
	  font-size: 12px;
	  font-weight: bold;
	  padding: 12px 0px;
	  letter-spacing: 1px;
	  text-transform: uppercase;
	  transition: transform 80ms ease-in;
	}
	td{
	  font-size: 14px;
	  font-weight: 100;
	  line-height: 20px;
	  letter-spacing: 0.5px;
	  margin: 0px ; 
	  padding: 1px ;
	}
	#create{
	  flex-direction: column ;
	  display : none ;
	  align-items: left;
	  justify-content: left;
	  border-radius: 10px;
	  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
		  0 10px 10px rgba(0,0,0,0.22);
	  margin: 5px;
	  color: #5E5E5E;
	  padding: 3px;
	  font-size: 20px;
	  font-weight: 700;
	
	}
	#profile{
		flex-direction: column ;
		display : none ;
		align-items: left;
		justify-content: left;
		border-radius: 10px;
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
		margin: 5px;
		color: #5E5E5E;
		padding: 3px;
		font-size: 20px;
		font-weight: 700;
	  
	  }
	#edit{
	  flex-direction: column ;
	  display : none ;
	  align-items: left;
	  justify-content: left;
	  border-radius: 10px;
	  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
		  0 10px 10px rgba(0,0,0,0.22);
	  margin: 20px;
	  color: #5E5E5E;
	  padding: 10px;
	  font-size: 20px;
	  font-weight: 700;
	
	}
	#join{
	  display: none;
	  width: 100%;
	  flex-direction: column;
	}
	#MyCampaigns{
	  display: none;
	  width: 100%;
	  flex-direction: column;
	}
	#join1{
	  flex-direction: column ;
	  display : flex ;
	  align-items: left;
	  justify-content: left;
	  border-radius: 10px;
	  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
		  0 10px 10px rgba(0,0,0,0.22);
	  margin: 5px;
	  color: #5E5E5E;
	  padding: 3px;
	  font-size: 20px;
	  font-weight: 700;
	
	}
	#subjoin{
	  display: flex;
	  flex-direction: column ;
	  align-items: flex-start ;
	  justify-content: left;
	  padding: 5px;
	}
	.place1{
	  flex-grow: 3;
	}
	.inp{
	  
	}
	#googleMap{
	  background-color: #eee;
	  border-color: gray ;
	  border-width: 1px ;
	  border-radius: 5px;
	  text-align: center;
	  padding: 12px 15px;
	  margin: 8px 0;
	  width: 90%;
	  height: 300px;
	}
	#googleMap1{
	  background-color: #eee;
	  border-color: gray ;
	  border-width: 1px ;
	  border-radius: 5px;
	  text-align: center;
	  padding: 12px 15px;
	  margin: 8px 0;
	  width: 70%;
	  height: 500px;
	}
	img{
		display: none;
	}
	.search{
	  margin: 10px;
	  transform: scale(1.3);
	  color: #47b2e4;
	}
	.campaign{
	  display: flex;
	  flex-direction: column ;
	  align-items: center ;
	  justify-content: center;
	  font-size: 18px;
	}
	.subcamp{
	  display: flex;
	  flex-direction: column ;
	  align-items: left ;
	  justify-content: left;
	  margin: 10px;
	}
	.subsubcamp{
	  display: flex ;
	  flex-direction: row ;
	  align-items: left ;
	  justify-content: left;
	  margin: 0px;
	}
	.ite{
	  margin: 10px;
	  width: 200px;
	}
	.ite11{
	  margin: 10px;
	  align-self: right;
	  width: 50%;
	}
	form{
		padding: 0px;
		padding-left: 5px;
	}
	.search1{
		padding: 0px;
	}
  }